.SearchBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.searchbar_input {
  width: 287px;
  padding: .88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 1rem;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.searchbar_input:focus {
  outline: none;
}

.rec-tuner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 30%;
  margin: 0.5rem auto;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, .7);
}

.rec-tuner h3 {
  font-weight: bold;
  text-decoration: underline;
  margin: 0.5rem auto;
}

.rec-tuner label {
  margin-right: 10%;
}

.rec-tuner input {
  margin-left: 1rem;
}

.rec-tuner p {
  display: none;
}

.slider {
  -webkit-appearance: none;
  height: 3px;
  border-radius: 5px;  
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background: rgba(0, 128, 0, 1);
  border: 2px solid white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: green;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
  margin-top: 1rem;
}

.SearchButton:hover {
  background-color: rgba(0, 128, 0, .6);
}

.search_by {
  display: flex;
  flex-direction: column; 
  align-items: center;  
  justify-content: flex-start;
  width: 40%;
  height: 150px;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  margin-bottom: 2.22rem;
  font-size: 1em;
  padding: 1rem 0;
}

.search_by li {
  display: flex;
  width: 100%;
  height: 33%;
  padding: 0;
}

@media screen and (max-width: 1020px) {
  .rec-tuner {
    width: 90%;
  }

  .rec-tuner label {
    font-size: smaller;
  }
}


