.Login {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    margin-bottom: 6.33rem;
    /* background-color: rgba(1, 12, 63, 0.7); */
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
  }
  
  .loginMessage {
    margin-top: 1.5rem;
  }

  h2 .highlight {
    color: green;
  }

  #readme {
    color: white;
    font-weight: bold;
  }

  #readme:hover {
    color:rgba(255, 255, 255, 0.7)
  }

  .LoginForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .regBtn {
    display: flex;
    margin-bottom: 2rem;
  }

  #notRegLabel {
    margin-left: .5rem;
  }

  #regLabel {
    margin-left: .5rem;
    margin-right: 3.45rem;
  }

  .LoginButton {
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    border-radius: 54px;
    /* background-color: #6c41ec; */
    background-color: green;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .LoginButton:hover {
    background-color: rgba(0, 128, 0, .6);
  }

  .email_input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 3rem;
    width: 22rem;
    text-align: center;
    text-overflow: wrap;
    
  }

  .email_input::placeholder {
    text-size-adjust: auto;
  }

  @media only screen and (max-width: 1020px) {
    /* .Login { */
      /* font-size: .6rem; */
    /* } */
    .email_input {
      width: 100%;
      margin-bottom: 2rem;
    }
  }